<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo Basic Auth App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div>
    <p>Call the api</p>
    <div>
        <form action="api-call" method="post">
            <button type="submit">Call</button>
        </form>
    </div>
    <p>Data (if any):</p>
    <code>
        {{ .data }}
    </code>
</div>
</body>
</html>
